fastapi
uvicorn
xgboost
mlflow
scikit-learn==1.6.1
numpy
pydantic
python-dotenv
python-multipart
httpx
category_encoders
chromadb
sentence-transformers
pdfplumber
rank-bm25
langchain
langchain-community
openai